Repository pietroid/conversations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test, dry-run, tag

dartdoc:
  stage: lint
  script:
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

flutter_analyze:
  stage: lint
  script:
  - flutter pub get
  - flutter analyze --pub
  - flutter format -n . --set-exit-if-changed

kotlin_analyze:
  image: kkopper/ktlint:0.36.0
  stage: lint
  script:
  - cd android || exit 1
  - ktlint

pod_lint:
  image: ruby:2.7-slim-buster
  stage: lint
  script:
  - cd ios || exit 1
  - apt-get update && apt-get install -y git curl unzip
  - gem install cocoapods -v 1.10.0
  - adduser --disabled-password --gecos "" cocoapods
  - export RUBYOPT='-W0'
  ...

swift_analyze:
  image: registry.gitlab.com/twilio-flutter/docker-swiftlint/docker-swiftlint:0.39.1
  stage: lint
  script:
  - cd ios || exit 1
  - swiftlint --strict

unit_test:
  stage: test
  script:
  - flutter test --coverage --pub test
  - lcov --list coverage/lcov.info

dry-run:
  stage: publish
  script:
  - flutter pub get
  - flutter pub publish --dry-run

tag:
  image: curlimages/curl
  stage: publish
  script:
  ...

chore - update cocoapods for pod lint
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test, dry-run, tag

chore - revert changes to gitlab-ci, update examples main to not fail analysis due to exclusion of BackendService
  .gitlab-ci.yml
  example/lib/main.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test, dry-run, tag

chore - update pod_lint
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test, dry-run, tag

chore - flutter format1
  example/lib/conversations/conversations_page.dart
  example/test/widget_test.dart
  lib/api.dart
  lib/src/conversation/conversation.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/error_info.dart
  lib/src/user/user.dart
Due: dartdoc, flutter_analyze, unit_test

chore - address dartdoc errors
  dartdoc_options.yaml
  lib/src/conversation_client/enums.dart
  lib/src/error_info.dart
  lib/src/participant/participant.dart
Due: dartdoc, flutter_analyze, unit_test

chore - implement Participant.getConversation
  lib/src/participant/participant.dart
Due: dartdoc, flutter_analyze, unit_test

chore - address dartdoc errors
  lib/src/conversation/conversation.dart
Due: dartdoc, flutter_analyze, unit_test

chore - minor refactor of initialization/storage of pigeon apis for testing, test client creation to fix lax of coverage data
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ClientListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ConversationListener.kt
  example/lib/conversations/conversations_notifier.dart
  example/pubspec.lock
  lib/src/conversation/conversation.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/message/message.dart
  lib/src/participant/participant.dart
  lib/src/twilio_conversations.dart
  pubspec.lock
  pubspec.yaml
  test/twilio_conversations_test.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

chore - add generated mocks to git
  test/twilio_conversations_test.mocks.dart
Due: flutter_analyze, unit_test

chore - update static analysis
  analysis_options.yaml
  example/lib/conversations/conversations_notifier.dart
  example/lib/main.dart
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/attributes.dart
  lib/src/conversation/enums.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/conversation_client/enums.dart
  lib/src/error_info.dart
  lib/src/message/enums.dart
  lib/src/participant/enums.dart
  lib/src/twilio_conversations.dart
  lib/src/user/enums.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, unit_test

chore - flutter format, again.
  lib/src/conversation/conversation.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/message/message.dart
  lib/src/participant/participant.dart
  test/twilio_conversations_test.dart
Due: dartdoc, flutter_analyze, unit_test

chore - add analyzer as a dev dependency so that pub publish won't fail as a result of it being overridden
  pubspec.lock
  pubspec.yaml
Due: none

chore - standardize logging from ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
Due: kotlin_analyze

chore - remove remnants of updateFromMap from participant and user
  lib/src/participant/participant.dart
  lib/src/user/user.dart
Due: dartdoc, flutter_analyze, unit_test

9 - implement `Conversation.removeParticipant`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/messages/messages_notifier.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  lib/src/twilio_conversations.dart
  pigeons/api.dart
  test/conversation_test.dart
  test/conversation_test.mocks.dart
  test/twilio_conversations_test.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.getParticipantByIdentity`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  pubspec.lock
  pubspec.yaml
  test/conversation_test.dart
  test/conversation_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.getParticipantBySid`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation_test.dart
  test/conversation_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.removeMessage`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/SwiftTwilioConversationsPlugin.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.advanceLastReadMessageIndex`
  README.md
  analysis_options.yaml
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/messages/messages_notifier.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation/conversation_test.dart
  test/conversation/conversation_test.mocks.dart
  test/conversation/setup_stubs.dart
  test/conversation_test.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.setAllMessagesUnread`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/conversations/conversations_notifier.dart
  example/lib/conversations/conversations_page.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation/conversation_test.dart
  test/conversation/conversation_test.mocks.dart
  test/conversation/setup_stubs.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.getMessagesAfter`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation/conversation_test.dart
  test/conversation/conversation_test.mocks.dart
  test/conversation/setup_stubs.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.getMessageByIndex`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation/conversation_test.dart
  test/conversation/conversation_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.setUniqueName`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation/conversation_test.dart
  test/conversation/conversation_test.mocks.dart
  test/conversation/setup_stubs.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.setAttributes`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/ios/.swiftlint.yml
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  example/pubspec.lock
  example/pubspec.yaml
  ios/.swiftlint.yml
  ios/Classes/Mapper.swift
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  ios/twilio_conversations.podspec
  lib/api.dart
  lib/src/attributes.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation/conversation_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test

chore - implement `Conversation.setNotificationLevel`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  ios/Classes/Mapper.swift
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  lib/src/conversation/enums.dart
  pigeons/api.dart
  test/conversation/conversation_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Conversation.getParticipantsCount`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationMethods.kt
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/ConversationMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation/conversation.dart
  pigeons/api.dart
  test/conversation/conversation_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - add a test for `Conversation.getParticipantsCount`
  test/conversation/conversation_test.dart
  test/conversation/setup_stubs.dart
Due: flutter_analyze, unit_test

chore - implement `Participant.setAttributes`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Mapper.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/ParticipantMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/participant/participant.dart
  lib/src/twilio_conversations.dart
  pigeons/api.dart
  test/participant/participant_test.dart
  test/participant/participant_test.mocks.dart
  test/participant/setup_stubs.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - address flutter analyze, format issues
  analysis_options.yaml
  lib/api.dart
  pigeons/api.dart
  test/participant/setup_stubs.dart
Due: dartdoc, flutter_analyze, unit_test

chore - implement `Participant.remove`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ParticipantMethods.kt
  example/lib/messages/messages_notifier.dart
  ios/Classes/Methods/ParticipantMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/participant/participant.dart
  pigeons/api.dart
  test/participant/participant_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `User.setFriendlyName` & `ConversationClient.getMyUser`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/ConversationClientMethods.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
  example/lib/conversations/conversations_notifier.dart
  example/lib/conversations/conversations_page.dart
  ios/Classes/Methods/ConversationClientMethods.swift
  ios/Classes/Methods/UserMethods.swift
  ios/Classes/SwiftTwilioConversationsPlugin.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/conversation_client/conversation_client.dart
  lib/src/twilio_conversations.dart
  lib/src/user/user.dart
  pigeons/api.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `User.setAttributes`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/UserMethods.kt
  ios/Classes/Methods/UserMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/user/user.dart
  pigeons/api.dart
  test/user/setup_stubs.dart
  test/user/user_test.dart
  test/user/user_test.mocks.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Message.getParticipant`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/MessageMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/message/message.dart
  lib/src/twilio_conversations.dart
  pigeons/api.dart
  test/message/message_test.dart
  test/message/message_test.mocks.dart
  test/message/setup_stubs.dart
  test/participant/participant_test.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

chore - implement `Message.updateMessageBody`
  android/src/main/kotlin/twilio/flutter/twilio_conversations/Api.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/methods/MessageMethods.kt
  example/lib/messages/messages_notifier.dart
  example/lib/messages/messages_page.dart
  ios/Classes/Methods/MessageMethods.swift
  ios/Classes/api.h
  ios/Classes/api.m
  lib/api.dart
  lib/src/message/message.dart
  pigeons/api.dart
  test/message/message_test.dart
  test/message/message_test.mocks.dart
  test/message/setup_stubs.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

event channel
  .fvm/flutter_sdk
  .fvm/fvm_config.json
  android/.idea/modules.xml
  android/build.gradle
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ClientListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ConversationListener.kt
  example/android/app/src/main/AndroidManifest.xml
  example/pubspec.lock
  lib/src/conversation_client/conversation_client.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Adding test channel
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TestChannel.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ClientListener.kt
  lib/src/conversation_client/conversation_client.dart
  pubspec.lock
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

add complete listener
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TestChannel.java
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
  android/src/main/kotlin/twilio/flutter/twilio_conversations/listeners/ClientListener.kt
  lib/src/conversation_client/conversation_client.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Adding setup method so listeners can function with firebase messaging
  android/src/main/kotlin/twilio/flutter/twilio_conversations/TwilioConversationsPlugin.kt
  lib/src/conversation_client/conversation_client.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, unit_test

Adding try catch because on ios we don't have this channel
  lib/src/conversation_client/conversation_client.dart
Due: dartdoc, flutter_analyze, unit_test

fix: attributes were not being set on sendMessage for iOS
  ios/Classes/Methods/ConversationMethods.swift
Due: swift_analyze

Path conditions:
  dartdoc: any of: lib/**/*, README.md, .gitlab-ci.yml
  flutter_analyze: any of: lib/**/*.dart, test/**/*.dart, example/lib/**/*.dart, example/test/**/*.dart, .gitlab-ci.yml
  kotlin_analyze: any of: android/**/*.kt, .gitlab-ci.yml
  pod_lint: any of: ios/twilio_conversations.podspec, .gitlab-ci.yml
  swift_analyze: any of: ios/**/*.swift, .gitlab-ci.yml
  unit_test: any of: lib/**/*, test/**/*, lib/**/*, .gitlab-ci.yml
  dry-run: any of: /**/*, .gitlab-ci.yml
  tag: any of: /**/*, .gitlab-ci.yml
